* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.logo {
  margin: 0 30%;
  display: flex;
  align-items: center;
}
nav ul {
  float: left;
  display: flex;
  align-items: center;
}
nav ul li {
  padding: 16px;
  display: inline-block;
}
.profile-cart-Icons {
  display: flex;
  width: 5%;
  margin: 0 15rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.profile img {
  width: 40px;
  height: 40px;
}
.single-page-item {
  margin: auto;
  width: 60%;
  display: flex;
  padding: 100px;
  flex-direction: row;
}
.productImg img {
  width: 350px;
  height: 400px;
  border-radius: 8px;
}
.thumbnail {
  margin: 0 -23px;
  flex-direction: row;
}
.thumbnail a img {
  width: 50px;
  height: 50px;
  margin: 0 23px;
  border-radius: 5px;
}

.sneaker-details {
  display: flex;
  flex-direction: column;
}
.item-detail-card {
  display: flex;
  margin: 60px;
  flex-direction: column;
}

.item-details {
}
.item-details h4 {
  padding: 10px;
  color: orange;
  font-weight: bold;
  text-transform: uppercase;
}
.item-details h1 {
  padding: 10px;
  color: black;
  font-size: 45px;
  font-weight: bold;
}
.item-details p {
  padding: 10px;
  font-size: 15px;
  color: darkgray;
}
.price {
  display: flex;
  flex-direction: column;
}
.cash-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.cash-item p {
  font-size: 18px;
  font-weight: bold;
}
.cash-item h2 {
  color: orange;
  margin-left: 15px;
}
.discount h3 {
  padding: 10px;
  font-size: 10px;
  color: darkgray;
  text-decoration-line: line-through;
}
.cart-section {
  display: flex;
  padding: 10px;
  flex-direction: row;
}
.addToCart {
  border-radius: 4px;
  margin-right: 20px;
  background-color: #edf2f4;
}
.minus {
  font-weight: bold;
  padding: 10px;
  color: orange;
  width: 45px;
  border: none;
  background-color: transparent;
}
.numberPlace {
  padding: 10px;
  width: 45px;
  border: none;
  background-color: transparent;
}
.plus {
  width: 45px;
  padding: 10px;
  border: none;
  color: orange;
  background-color: #edf2f4;
}
.proceedToCart {
  display: flex;
}
.cart-button button {
  color: white;
  padding: 10px 50px;
  border-radius: 7px;
  background-color: orange;
}

.img-item-button {
  width: 10px;
  height: 10px;
}
